:root{
    --linear-gradient-colour :linear-gradient(to right, #c72092 , #6c14d0);
    ---lower-transition : ease-in-out 0.3s;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bs-white) !important;
}

.LoginForm{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/loging_bg.png);
    background-size: cover;
    background-position: center;
}

.LoginForm .left img{
    width: 650px;
}

.LoginForm .right{
    position: relative;
    top: -50px;
    left: -60px;
    padding: 50px 80px;
}

.LoginForm .right h1{
    font-family: "Poetsen One", sans-serif;
    font-size: 50px;
}

.span_to{
    font-family: "Fira Sans", sans-serif;
    font-size: 30px;
}

.span_hello_shoes{
    font-family: "Sevillana", cursive;
    font-weight: 500;
    font-size: 100px;
}

.LoginForm .right p{
    margin-bottom: 5px;
}


.LoginForm .right .login_fields{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
    margin-bottom: 30px;
}

.LoginForm .right .login_fields i{
    position: relative;
    top: 9px;
    left: 15px;
    color: #c72092;

}

.LoginForm .right .login_fields .login_placeholder{
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    font-size: 15px;
}

::-webkit-input-placeholder{
    color: black;
    opacity: 0.7;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.LoginForm .right .forget{
    position: relative;
    font-family: 'Inter', sans-serif;
    margin: 30px 0 10px 110px;
    cursor: pointer;
}

.LoginForm .right .forget:hover{
    color: #6c14d0;
    filter: brightness(90%);
    transition: var(---lower-transition);
}

.LoginForm .right button{
    width: 350px;
    color: white;
    padding: 7px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    cursor: pointer;
    background: var(--linear-gradient-colour);
}

.LoginForm .right button:hover{
    background: var(--linear-gradient-colour);
    /*opacity: 90%;*/
    filter: brightness(90%);
    transition: var(---lower-transition);
}

.ForgetPasswordForm{
    background-color: #6c14d0;
    /*width: fit-content;*/
}

.SignInForm{
    background-color: #0a58ca;
    width: 100%;
    height: 100vh;
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
    /*background-image: url(../img/loging_bg.png);*/
    background-size: cover;
    background-position: center;
    display: none;
}



